$color1: #90afc5;
$color2: #336b87;
$color2dark: #28546a;
$color3: #2a3132;
$color3light: #475354;
$color4: #763626;

body {
  background-color: $color2;
}

h1 {
  font-weight: 900;
}

#header {
  background-color: $color3;
}

.panel-heading > .row, .panel-body > .row {
  display: flex;
  align-items: center;
}

div.col-xs-8.col-sm-10.text-center p{
  margin: 5px 0px 5px 0px;
}