body {
  background-color: #336b87; }

h1 {
  background-color: #2a3132;
  font-weight: 900;
  color: #fff;
  margin: 0px;
  padding: 20px 0px 15px 20px; }

a:hover {
  text-decoration: none !important; }

#fcc {
  color: green; }

#fcc:hover, #fcc:active {
  color: lightgreen; }

#header {
  background-color: #2a3132; }

.panel-heading > .row, .panel-body > .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

div.col-xs-8.col-sm-10.text-center p {
  margin: 5px 0px 5px 0px; }
