body {
  background-color: #336b87; }

h1 {
  font-weight: 900; }

#header {
  background-color: #2a3132; }

.panel-heading > .row, .panel-body > .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

div.col-xs-8.col-sm-10.text-center p {
  margin: 5px 0px 5px 0px; }
